<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.plantynet.mapper.AuthMapper">
	<select id="getSuperPassword" resultType="String">
  		select password from TB_MANAGER where authority = 'super';
  	</select>
  	<select id="getPassword" resultType="String">
  		
  		SELECT password
  		From TB_MANAGER
  		WHERE mngr_no = #{mngr_no}
  	</select>
</mapper>