<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.plantynet.mapper.MemberMapper">


<select id= "selectAll" resultType="MemberVO">
	SELECT
		mber_no, phone, email, gender, birth, survey_cnt, quest_cnt, report_cnt, reported_cnt, reg_date, status
	FROM 
		TB_MEMBER
	WHERE
		status = 'MS01';

</select>

<select id= "selectOne" resultType="MemberVO">
	SELECT
		mber_no, phone, email, gender, birth, survey_cnt, quest_cnt, report_cnt, reported_cnt
	FROM 
		TB_MEMBER
	WHERE
		mber_no = #{mber_no};

</select>

<update id="update">
	UPDATE 
		TB_MEMBER
	SET 
		phone = #{phone}, email = #{email}, gender = #{gender}, birth = #{birth}
	WHERE
		mber_no = #{mber_no};

</update>

<update id="delete">
	UPDATE 
		TB_MEMBER
	SET 
		email = '탈퇴한 회원',
		password = '탈퇴한 회원',
		mber_name = null,
		phone = null,
		birth = null
		gender = null,
		reg_date = null,
		survey_cnt = null,
		quest_cnt = null,
		vote_cnt = null,
		report_cnt = null,
		reported_cnt = null,
		status = 'MS00'
	WHERE
		mber_no = #{mber_no};
</update>

</mapper>