<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.plantynet.mapper.QuestMapper">


<select id= "questYetSelect" resultType="com.plantynet.domain.QuestYetVO">
	select
		a.quest_no,
		a.quest_category,
		a.title,
		a.reg_date,
		b.email
	from 
		TB_QUESTION a, TB_MEMBER b
	where
		 a.mber_no = b.mber_no and
		 a.status = '미처리';
</select>

<select id= "questDoneSelect" resultType="com.plantynet.domain.QuestDoneVO">
       select
		a.quest_no,
		a.quest_category,
		a.title,
		a.reg_date,
		b.email,
		c.cmpl_date,
		d.mngr_id
	from 
		TB_QUESTION a, TB_MEMBER b, TB_QUESTION_ANSWER c, TB_MANAGER d
	where
		a.quest_no = c.quest_no and
		a.mber_no = b.mber_no and
		c.mngr_id = d.mngr_id and
        a.status = '처리';
</select>


<select id= "questAnswerSelect" resultType="com.plantynet.domain.QuestYetVO">
	select
		a.quest_no,
		a.quest_category,
		a.title,
		a.reg_date,
		b.email,
		a.quest_contents
	from 
		TB_QUESTION a, TB_MEMBER b
	where
		 a.mber_no = b.mber_no and
		 a.quest_no = #{quest_no} and
		 a.status = '미처리';
</select>


<insert id= "questAnswerInsert" >
	INSERT INTO TB_QUESTION_ANSWER
		(quest_no, answer_contents, mngr_id)
	VALUES 
		(${quest_no}, '${answer_contents}', '${mngr_id}');
</insert>


<update id= "questAnswerUpdate" >
	UPDATE 
		TB_QUESTION
	SET
		status = "처리"
	where
		quest_no = #{quest_no};
</update>


<select id= "questResultSelect" resultType="com.plantynet.domain.QuestDoneVO">
	select
		a.quest_no,
		a.quest_category,
		a.title,
		a.reg_date,
		b.email,
		a.quest_contents,
		c.cmpl_date,
		d.mngr_id,
		c.answer_contents
	from 
		TB_QUESTION a, TB_MEMBER b, TB_QUESTION_ANSWER c, TB_MANAGER d
	where
		a.quest_no = c.quest_no and
		a.mber_no = b.mber_no and
		c.mngr_id = d.mngr_id and
        a.quest_no = #{quest_no} and
        a.status = '처리';
</select>


</mapper>

