<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.plantynet.mapper.QuestMapper">


<select id= "questYetSelect" resultType="com.plantynet.domain.QuestYetVO">
	select
		a.quest_no,
		a.quest_category,
		a.title,
		a.reg_date,
		b.email
	from 
		TB_QUESTION a, TB_MEMBER b
	where
		 a.mber_no = b.mber_no and
		 a.status = '미처리';
</select>

<select id= "questDoneSelect" resultType="com.plantynet.domain.QuestDoneVO">
	select
		a.quest_no,
		a.quest_category,
		a.title,
		a.reg_date,
		c.email,
		b.cmpl_date,
		d.mngr_id
	from 
		TB_QUESTION a, TB_QUESTION_ANSWER b, TB_MEMBER c, TB_MANAGER d
	where
		a.mber_no = c.mber_no and
        a.quest_no = b.quest_no and
        b.mngr_id = d.mngr_id and
        a.status = '처리';
</select>


<select id= "questAnswerSelect" resultType="com.plantynet.domain.QuestYetVO">
	select
		a.quest_no,
		a.quest_category,
		a.title,
		a.reg_date,
		b.email
		a.quest_contents,
	from 
		TB_QUESTION a, TB_MEMBER b
	where
		 a.quest_no = b.quest_no and
		 a.status = '미처리';
</select>


<insert id= "questAnswerInsert" parameterType="String">
	insert into TB_QUESTION_ANSWER 
		(answer_contents, mngr_id, cmpl_date)
	values 
		('${answer_contents}', ${mngr_id}, ${cmpl_date})
</insert>


</mapper>

