<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.plantynet.mapper.ReportMapper">


<select id="reportYetSelect" resultType="com.plantynet.domain.ReportYetVO">
	select
		a.report_no,
		a.report_category,
		a.report_contents,
		b.email,
		a.reg_date,
		a.survey_no
	from 
		TB_REPORT a, TB_MEMBER b
	where
		 a.mber_no = b.mber_no and
		 a.status = 'RS00'
</select>

<select id="reportDoneSelect" resultType="com.plantynet.domain.ReportDoneVO">
	select
		a.report_no,
		a.report_category,
		a.report_contents,
		c.email,
		d.mngr_id,
		a.reg_date,
		b.cmpl_date,
		b.answer_category,
		a.survey_no,
		b.answer_contents
	
	from 
		TB_REPORT a, TB_REPORT_ANSWER b, TB_MEMBER c, TB_MANAGER d
	where
		a.mber_no = c.mber_no and
        a.report_no = b.report_no and
        b.mngr_id = d.mngr_id and
        a.status = 'RS01'
</select>


<select id="reportDonePick" resultType="com.plantynet.domain.ReportDoneVO">
	select
		a.report_no,
		a.report_category,
		a.report_contents,
		c.email,
		d.mngr_id,
		a.reg_date,
		b.cmpl_date,
		b.answer_category,
		a.survey_no,
		b.answer_contents
	
	from 
		TB_REPORT a, TB_REPORT_ANSWER b, TB_MEMBER c, TB_MANAGER d
	where
		a.mber_no = c.mber_no and
        a.report_no = b.report_no and
        b.mngr_id = d.mngr_id and
        a.status = 'RS01' and
        a.report_no = #{report_no}
</select>

<select id="reportYetPick" resultType="com.plantynet.domain.ReportYetVO">
	select
		a.report_no,
		a.report_category,
		a.report_contents,
		b.email,
		a.reg_date,
		a.survey_no
	from 
		TB_REPORT a, TB_MEMBER b
	where
		 a.mber_no = b.mber_no and
		 a.status = 'RS00' and
		 a.report_no = #{report_no}
</select>

 <insert id = "answerInsert" parameterType="com.plantynet.domain.ReportDoneVO">
	INSERT INTO TB_REPORT_ANSWER (report_no,answer_contents, mngr_id, answer_category,cmpl_date)
	 VALUES (#{report_no}, #{answer_contents}, #{mngr_id}, #{answer_category}, current_timestamp());
</insert> 

<update id = "answerUpdate" parameterType="com.plantynet.domain.ReportDoneVO">
	UPDATE TB_REPORT SET status = 'RS01' WHERE  report_no = #{report_no}
</update>

<update id = "reportPlus" parameterType="com.plantynet.domain.ReportDoneVO">
	UPDATE TB_MEMBER SET report_cnt =report_cnt +1   where email = #{email}
	
</update>
<update id = "reportedPlus" parameterType="com.plantynet.domain.ReportDoneVO">
	UPDATE TB_MEMBER SET reported_cnt =reported_cnt +1   where email = #{survey_email}
</update>



<!-- <select id= "prohibitSelect" resultType="com.plantynet.domain.ProhibitVO">
	select *
	from TB_PRHIBIT_WORD
</select>


<delete id="prohibit_delete" parameterType="String">
	delete from TB_PRHIBIT_WORD WHERE  word = #{word}
</delete>
 
<insert id="prohibit_insert">
		insert into TB_PRHIBIT_WORD (word, mngr_no)
		values ('${word}', ${mngr_no})
</insert>  -->

<!-- 
<delete id="prohibit_delete">
	delete from tb_prhibit_word WHERE  word like '#{}'
</delete>

 -->

<!-- 
<insert id="create">
 insert into tbl_board (title, content, writer) 
 values(#{title},#{content}, #{writer})
 </insert> 

 <select id="read" resultType="org.zerock.domain.BoardVO">
 select 
   bno, title, content, writer, regdate, viewcnt 
 from 
   tbl_board 
 where bno = #{bno}
 </select>

 <update id="update">
 update tbl_board set title =#{title}, content =#{content} 
 where bno = #{bno}
 </update> 

 <delete id="delete">
 delete from tbl_board where bno = #{bno}
 </delete>

 <select id="listAll" resultType="org.zerock.domain.BoardVO">
 <![CDATA[
 select 
   bno, title, content, writer, regdate, viewcnt 
 from 
   tbl_board 
 where bno > 0 
 order by bno desc, regdate desc
 ]]>  
 </select>
 
 <select id="listPage" resultType="BoardVO">
 <![CDATA[
 select 
   bno, title, content, writer, regdate, viewcnt 
 from 
   tbl_board 
 where bno > 0 
 order by bno desc, regdate desc
 limit #{page}, 10
 ]]>  
 </select>

  <select id="listCriteria" resultType="BoardVO">
 <![CDATA[
 select 
   bno, title, content, writer, regdate, viewcnt 
 from 
   tbl_board 
 where bno > 0 
 order by bno desc, regdate desc
 limit #{pageStart}, #{perPageNum}
 ]]>  
 </select>



 <select id="countPaging" resultType="int">
 <![CDATA[
 select 
   count(bno) 
 from 
   tbl_board 
 where 
   bno > 0 
 ]]>
 </select>



<sql id="search">
 <if test="searchType != null" > 
   <if test="searchType == 't'.toString()">
     and title like CONCAT('%', #{keyword}, '%')
   </if>
   <if test="searchType == 'c'.toString()">
     and content like CONCAT('%', #{keyword}, '%')
   </if>
   <if test="searchType == 'w'.toString()">
     and writer like CONCAT('%', #{keyword}, '%')
   </if>     
   <if test="searchType == 'tc'.toString()">
     and ( title like CONCAT('%', #{keyword}, '%') OR content like CONCAT('%', #{keyword}, '%'))
   </if>        
   <if test="searchType == 'cw'.toString()">
     and ( content like CONCAT('%', #{keyword}, '%') OR writer like CONCAT('%', #{keyword}, '%'))
   </if>        
   <if test="searchType == 'tcw'.toString()">
     and (   title like CONCAT('%', #{keyword}, '%') 
           OR 
             content like CONCAT('%', #{keyword}, '%') 
           OR 
             writer like CONCAT('%', #{keyword}, '%'))
   </if>              
 </if>  
</sql>
 
<select id="listSearch" resultType="BoardVO">
<![CDATA[  
  select * 
  from tbl_board 
  where bno > 0 
]]>  

  <include refid="search"></include>
  
<![CDATA[    
  order by bno desc
  limit #{pageStart}, #{perPageNum}
]]>  
</select>
  
<select id="listSearchCount" resultType="int">
<![CDATA[  
  select count(bno) 
  from tbl_board 
  where bno > 0 
]]>
  <include refid="search"></include>
 
</select>  
  -->
  
  
</mapper>
